html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: calc(100vh - 100px);
    width: 100%;
    height: 100vh;
    color: rgb(34, 34, 34);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
